<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes DOM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body background='/static/img/fundaum.gif'>
            
        {% include 'header.html' %} 

        <div class="cx_read_single">

            <div class = "blocors">
                <div class = "blococapa">
                    <h2> {{ anime_genero.nome }} </h2>
                    <br />
                    <img src ="{{ anime_genero.imagem_url}}" width="200" alt = "{{ anime_genero.nome }}" id = "imagemSingle"/>
                </div>
                <div class="blococapa">
                    <h2> {{anime_genero.genero }} </h2>
                    <br />
                    <iframe width="350" height="285" src="{{ anime_genero.trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


                <div class = "blocosin">
                    <h3> {{ anime_genero.sinopse }} </h3>
                </div>
            
                <div class = "blocors">
                    <a href="/update/{{ anime_velho['id'] }}" class="botao">EDITAR</a>
                    <a href="/delete/{{ anime_velho['id'] }}" class="botao">REMOVER</a>
                    <a href="/read" class="botao"> VOLTAR </a>
                </div>
        </div>   
    </body>
</html>



