<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes DOM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body background='/static/img/fundaum.gif'>
        
        <div id="slider">
            <img  src="/static/img/fundohdr1.gif" width="1000" height="300" alt="">
            <img  src="/static/img/fundohdr2.gif" alt="">
            <img  src="/static/img/fundohdr3.gif" alt="">
            <img  src="/static/img/fundohdr4.gif" alt="">
            <img  src="/static/img/funndohdr5.gif" alt="">
            <img  src="/static/img/fundohdr6.gif" alt="">
            <img  src="/static/img/fundohdr7.gif" alt="">
        </div>
        <script type="text/javascript" src="/static/slider.js"></script>

        <div class="cx_create">
            <div class="bloco">
                <h3> ADICIONAR CONTEÚDO </h3>
            </div>
        
        {% if not novo_id %}
        
            <div class="bloco">
                <form class="form" method="POST">
                    <div class="bloco form_input">
                        <label for="nome">NOME :  </label>
                        <input type="text" id ="nome" name="nome">
                    </div>
                    
                    <div class="bloco form_input">
                        <label for="imagem_url">URL CAPA : </label>
                        <input type="text" id ="imagem_url" name="imagem_url">
                    </div>

                    <div class="bloco form_input">
                        <label for="genero">GENERO :  </label>
                        <input type="text" id ="genero" name="genero">
                    </div>
                    <div class="bloco form_input">
                        <label for="trailer">TRAILER :  </label>
                        <input type="text" id ="trailer" name="trailer">
                    </div>
                    <div class="bloco form_input">
                        <label for="sinopse">SINOPSE :  </label>
                        <input type="text" id ="sinopse" name="sinopse">
                    </div>

                    <div class="bloco form_input">

                        <input type="submit" id="botao" value="ENVIAR">
                        <a href="/read" class="botao">VOLTAR</a>
                    </div>
                </form>
            </div>
        </div>
        
        {% else %}
        <div class="bloco">
            <p>
                Registro criado com sucesso!<br /><br />
                O ID atribuído foi <span class="novo_id">{{ novo_id }}</span><br /><br />
                <a href="/read/{{ novo_id }}" class="botao">Visualizar registro</a>
            </p>	
        </div>

        {% endif %}
    </body>
</html>