<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Animes</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body background='/static/img/fundaum.gif'>
    
    {% include 'header.html' %}
    <div class="bloco">
        <h3>Acesse nossos, <span class="novo_id">{{ total }}</span> animes cadastrados! <br />Clicando em ANIMES, acima!</h3>
    </div>
    
</body>
</html>