<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes DOM</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
    <body background='/static/img/fundaum.gif'>
        {% include 'header.html' %}

        {% if not sucesso %}

        <div class="cx_update">
            <div class="bloco">
                <h2> Editar Conteúdo de <span class="novo_id">{{ anime_velho.nome }}</span> </h2>
            </div>

            <div class="bloco">
                <form class="form" method="POST">
                    <div class="bloco form_input">
                        <label for="nome">NOME : </label>
                        <input type="text" id="nome" name="nome" value="{{ anime_velho.nome }}">
                    </div>

                    <div class="bloco form_input">
                        <label for="imagem_url">URL CAPA : </label>
                        <input type="text" id="imagem_url" name="imagem_url" value="{{ anime_velho.imagem_url }}">
                    </div>

                    <div class="bloco form_input">
                        <label for="trailer">Trailer : </label>
                        <input type="text" id="trailer" name="trailer" value="{{ anime_genero.trailer }}">
                    </div>

                    <div class="bloco form_input">
                        <label for="genero">GENERO : </label>
                        <input type="text" id="genero" name="genero" value="{{ anime_genero.genero }}">
                    </div>

                    <div class="bloco form_input">
                        <label for="sinopse">SINOPSE : </label>
                        <input type="text" id="sinopse" name="sinopse" value="{{ anime_velho.sinopse }}">
                    </div>

                    
                    <div class="bloco form_input">
                        <input type="submit" class="botao" value="ENVIAR">
                        <a href="/read" class="botao">VOLTAR</a>
                    </div>

                    
                        
                    
                    
                </form>
            </div>
        </div>

        {% else %}

        <div class="bloco sucesso">
            <p>
                Editado com sucesso!
            </p>
        </div>

        <div class="bloco">
            <a href="/read" class="botao">Ver atualizado</a>
        </div>

        {% endif %}

    </body>
</html>
